.main {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.user {
  text-decoration: none;
  color: black;
  font-size: 27px;
  font-weight: bold;
  padding-right: 10px;

  &:hover {
    color: green;
    cursor: pointer;
  }
}

.button {
  padding: 10px;
  margin-left: 5px;

  @media (max-width: 576px) {
    padding: 3px;
  }
}

.table {
  border: 3px solid black;
  width: 95%;
  border-radius: 5px;
  margin-top: 10px;
  margin: 0 auto;
  min-width: 300px;
}

.table__body {
  background: rgb(164, 91, 91);
  text-align: center;
  font-weight: bold;
  color: white;

  tr {
    border: 2px solid black;
  }

  @media (max-width: 576px) {
    font-size: 12px;
  }
}
