.main {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
}

.user {
  text-decoration: none;
  color: black;
  font-size: 27px;
  font-weight: bold;
  padding-right: 10px;

  &:hover {
    color: green;
  }
}
