.main {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.user {
  text-decoration: none;
  color: black;
  font-size: 27px;
  font-weight: bold;
  padding-right: 10px;

  &:hover {
    color: green;
    cursor: pointer;
  }
}

.button {
  padding: 10px;
  margin-left: 5px;
}
